<nav>
    <ol class="breadcrumb custom-breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Categorias</li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left">Categorias</h1>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-success float-end">+ Nova Categoria</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="bg-primary text-light">
            <th>Categoria</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>

    <tbody>
        
    </tbody>
  </table>